<h1>Team Name: <%=@team%></h1>
<h1>Team Motto: <%=@motto%></h1>
<h2> Hero One:</h2>
<p> Hero Name: <%=@hero1_name%></p><br>
<p> Hero Power: <%=@hero1_power%></p><br>
<p> Hero Biography: <%=@hero1_bio%></p><br>
<h2> Hero Two: </h2>
<p> Hero Name: <%=@hero2_name%></p><br>
<p> Hero Power: <%=@hero2_power%></p><br>
<p> Hero Biography: <%=@hero2_bio%></p><br>
<h2> Hero Three: </h2>
<p> Hero Name: <%=@hero3_name%></p><br>
<p> Hero Power: <%=@hero3_power%></p>br>
<p> Hero Biography: <%=@hero3_bio%>/p><br>

